.vs/blis/
CefGlue/bin/
CefGlue/obj/
Resources/
blis/obj/
blis/bin/
blis.Server.GSM/bin/
blis.Server.GSM/obj/
blis.Web.Services/bin/
blis.Web.Services/obj/
blis.Core/bin/
blis.Core/obj/
blis.Linux/bin/
blis.Linux/obj/
blis.Modems/bin/
blis.Modems/obj/
blis.Web.Core/bin/
blis.Web.Core/obj/
blis.Windows/bin/
blis.Windows/obj/
ThirdParty/bc-csharp/crypto/bin/
ThirdParty/bc-csharp/crypto/obj/
ThirdParty/Simplexcel/bin/
ThirdParty/Simplexcel/obj/
ThirdParty/PdfSharp/PdfSharp/bin/
ThirdParty/PdfSharp/PdfSharp/obj/
ThirdParty/PdfSharp/PdfSharp.Charting/bin/
ThirdParty/PdfSharp/PdfSharp.Charting/obj/
ThirdParty/dotnetzip/Zip/bin/
ThirdParty/dotnetzip/Zip/obj/
ThirdParty/dotnetzip/BZip2/bin/
ThirdParty/dotnetzip/BZip2/obj/
ThirdParty/dotnetzip/BZip2 SL DLL/Bin/
ThirdParty/dotnetzip/BZip2 SL DLL/obj/
ThirdParty/dotnetzip/BZip2 Tests/bin/
ThirdParty/dotnetzip/BZip2 Tests/obj/
ThirdParty/dotnetzip/Examples/
ThirdParty/dotnetzip/Help/
ThirdParty/dotnetzip/Help-VS-Integrated/
ThirdParty/dotnetzip/Tools/
ThirdParty/dotnetzip/Zip Reduced/bin/
ThirdParty/dotnetzip/Zip Reduced/obj/
ThirdParty/dotnetzip/Zip SL/Bin/
ThirdParty/dotnetzip/Zip SL/obj/
ThirdParty/dotnetzip/Zip Tests/bin/
ThirdParty/dotnetzip/Zip Tests/obj/
ThirdParty/dotnetzip/Zlib/bin/
ThirdParty/dotnetzip/Zlib/obj/
ThirdParty/dotnetzip/Zlib SL DLL/Bin/
ThirdParty/dotnetzip/Zlib SL DLL/obj/
ThirdParty/dotnetzip/Zlib Tests/bin/
ThirdParty/dotnetzip/Zlib Tests/obj/
ThirdParty/mysql-connector-net-6.9.9-src/Source/MySql.Data/bin/
ThirdParty/mysql-connector-net-6.9.9-src/Source/MySql.Data/obj/
ThirdParty/ClearScript/bin/Debug/
ThirdParty/ClearScript/ClearScript/obj/
ThirdParty/ClearScript/ClearScript/bin/
ThirdParty/ClearScript/ClearScriptBenchmarks/bin/
ThirdParty/ClearScript/ClearScriptBenchmarks/obj/
ThirdParty/ClearScript/ClearScriptConsole/bin/
ThirdParty/ClearScript/ClearScriptConsole/obj/
ThirdParty/ClearScript/ClearScriptTest/bin/
ThirdParty/ClearScript/ClearScriptTest/obj/
ThirdParty/raspberry-sharp-io/Raspberry.IO/bin/
ThirdParty/raspberry-sharp-io/Raspberry.IO/obj/
ThirdParty/raspberry-sharp-io/Raspberry.IO.Components/bin/
ThirdParty/raspberry-sharp-io/Raspberry.IO.Components/obj/
ThirdParty/raspberry-sharp-io/Raspberry.IO.GeneralPurpose/bin/
ThirdParty/raspberry-sharp-io/Raspberry.IO.GeneralPurpose/obj/
ThirdParty/raspberry-sharp-io/Raspberry.IO.InterIntegratedCircuit/bin/
ThirdParty/raspberry-sharp-io/Raspberry.IO.InterIntegratedCircuit/obj/
ThirdParty/raspberry-sharp-io/Raspberry.IO.Interop/bin/
ThirdParty/raspberry-sharp-io/Raspberry.IO.Interop/obj/
ThirdParty/raspberry-sharp-io/Raspberry.IO.SerialPeripheralInterface/bin/
ThirdParty/raspberry-sharp-io/Raspberry.IO.SerialPeripheralInterface/obj/
ThirdParty/v8dotnet/bin/
ThirdParty/v8dotnet/V8.Net/bin/
ThirdParty/v8dotnet/V8.Net/obj/
ThirdParty/v8dotnet/V8.Net/obj_3.5/
ThirdParty/v8dotnet/V8.Net.Loader/bin/
ThirdParty/v8dotnet/V8.Net.Loader/obj/
ThirdParty/v8dotnet/V8.Net.Loader/obj_3.5/
ThirdParty/v8dotnet/V8.NET-Proxy/bin/
ThirdParty/v8dotnet/V8.NET-ProxyInterface/bin/
ThirdParty/v8dotnet/V8.NET-ProxyInterface/obj/
ThirdParty/v8dotnet/V8.NET-ProxyInterface/obj_3.5/
ThirdParty/v8dotnet/V8.NET-SharedTypes/bin/
ThirdParty/v8dotnet/V8.NET-SharedTypes/obj/
ThirdParty/v8dotnet/V8.NET-SharedTypes/obj_3.5/
ThirdParty/LibUsbDotNet/LibUsb.Common/bin/
ThirdParty/LibUsbDotNet/LibUsb.Common/obj/
ThirdParty/LibUsbDotNet/LibUsbDotNet/bin/
ThirdParty/LibUsbDotNet/LibUsbDotNet/obj/
ThirdParty/xsharp/xsharp/bin/
ThirdParty/xsharp/xsharp/obj/
ThirdParty/xsharp/windowtest/bin/
ThirdParty/xsharp/windowtest/obj/